/*
Folha de estilos do site One page site HTML5 e CSS3
#author João Bôsco / Prof. José de Assis  -  github.com/engjoaobosco
*/



/* CSS reset = Aplica uma sobreposição aos estilos dos navegadores evitando conflitos */
*{
    margin: 0; 
    border: 0; 
    padding: 0;
}

/* Importação (Google Fonts) */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') */



body{
    font-family: "Open Sans", sans-serif; 
    font-size: 1em; 
} 

/* LAYOUT - Centralizando os elementos */
.Container{
    margin: 0 auto;
    /* Cor abaixo removida */
    /* background-color: #dcdcdc; */
}

/* Criando uma classe */
.Flex{
    display: flex;
    justify-content: space-between;
    /* background-color: #a9a9a9; */
}

.Flex2{
    display: flex;
    align-items: center;

}
.Flex3{
    display: flex;
    flex-direction: column;
}
.Flex4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Botao{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: #c00000;
    /* tamanho do Botão: 10 px X 40px */
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
}
.Card{
    /* Esta configuração atinge todos os cartões "Card" */
    margin-top: 25px;
    /* Ajustando os cartões para a maior tela possível em Smartphone. Prefira ajustar as img nas medidas certas e não configurar para o CSS ajustar, assim se consegue um melhor desempenho. Qto menos trabalho para o CSS melhor fica o seu site. */
    width: 338px;
    height: 520px;
    background-color: #e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    text-align: center;
    /* margin-left: 10px; */
}
.Card img{
    border-radius: 25px 25px 0px 0px;
}
.Card h3{
    margin-top: 15px;
}
/* Ajuste do <p> para 4 linhas: Cuidado, o texto precisa ter no mínimo 4 linhas! */
.Card p{
    /* Alinhando o texto à esquerda */
    text-align: left;  
    color: #434343;
     /*Espaçamento interno  10_sup / 30_dir / 50_inf / 30_esq */
     padding: 10px 30px 50px 30px;
}
.Card a{
    /* Sobrepondo a formatação da classe do botão com mais ajustes (largura) */
    /* 10= sup/inf  e  100= esq/dir */
    padding: 10px 100px;
    border: 0;
}

/* Topo do site - Ícone para ir ao topo */
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* SMARTPHONE PORTRAIT  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* Header - definindo altura do cabecalho, que pode ser usada a TAG header ou o id(id=inicio) */
header{
    height: 60px;
}
#logo img{
    width: 128px;
    height: 128px;
}
#check{
    display: none;
}
/* Como no html tem apenas uma TAG label, nao precisa usar # */
label{
    font-size: 2em;
    /* Ajustando Bug: hamburguer rola junto e nao se consegue recolher o menu */
    /* padding-right: 15px; */
    position: fixed;
    top: 5px;
    right: 15px;
    /* Trocar cor para rgb e deixar tranasparente o hamburguer em 50% (0.5) */
    color: rgba(0,0,0,0.5);
}
nav ul{
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    /* Para esconder o menu, definir -100% e 100% (largura maxima) ou definir uma outra largura*/
    right: -100%;
    /* Eu acho melhor deixar sem esta largura. Para isso basta deletar este codigo. A largura esta em 15px, definido em label */
    width: 100%;
    /* Aplicando um delay para aparecer o menu */
    transition: all 0.5s;
}
/* Controlando o menu - ao clicar aparece e desaparece. Cuidado: sem espaco no codigo!*/
#check:checked ~ ul{
    right: 0;
}
nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}
/* Removendo a cor azul dos topicos do menu e colocando a cor branco */
nav ul li a{
    text-decoration: none;
    color: #fff;
}
main{
    height: 75vh;
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1{
    font-size: 2.5em;
}
main h2{
    font-size: 1em;
    /* 20x top 0px right 50px botton 0px left  */
    margin: 20px 0px 50px 0px;
}
/* Sobre */
#sobre{
    /* Espaçamento sup/inferior: 50px laterais: 0px */
    padding: 50px 0px;
    background: url(img/background.png);
    /* Para ajustar a imagem ao tamanho do container: */
    background-size: cover;
    background-position: center;
}
#destaqueSobre{
    /* Escondendo a imagem nesta configuração */
    display: none;
}
#textoSobre{
    /* Configurando tudo que estiver dentro da div */
    color: #fff;
    /* Espaçamento na esq e direita */
    padding: 0px 10px;
}
#textoSobre h2{
    margin-bottom: 10px;
}
.TopicosSobre{
    margin-top: 20px;
}
.TopicosSobre img{
    margin-right: 10px;
}
/* One Page - Ajustando o video para caber na tela do celular portrait */
/* Passo 1 - Criando um espaçamento interno para os conteúdos*/
#onePage{
    /* Mantendo o padrão usado nas demais seções: 50 altura / 10 lateral esq */
    padding: 50px 10px;
}
#onePage h2{
    margin-bottom: 10px;
}
#onePage p{
    margin-bottom: 25px;
}
/* Existem várias tecnicas p/ajuste dos videos. Vou usar aqui os próprios recursos do You Tube para exibir o vídeo em tela cheia */
.Video iframe{
    width: 340px;
    height: 191px;
    border: 0;
}
#wireframe{
    padding: 50px 0px;
    background: url(img/background.png);
    background-size: cover;
    background-position: center;
}
#textoWire{
    color: #fff;
    /* Ajuste texto esq/dir (10px) */
    padding: 0px 10px;
}
#textoWire h2{
    margin-bottom: 10px;
}
#textoWire p{
    margin-bottom: 40px;
}
#textoWire a{
    color: #fff;
}
#textoWire img{
    margin-top: 40px;
}
#textoWire span{
    display: none;
}
#qrCode{
    display: none;
}
/* Conteúdo - CARDS */
#conteudo{
    padding: 50px 0px;
}
#conteudo h2{
    margin-bottom: 25px;
    text-align: center;
}
#todos{
    margin-top: 30px;
    text-align: center;
}
#todos a{
    text-decoration: none;
    color: #000;
    /* Tirar o peso da fonte (o negrito) */
    font-weight: 700;
    font-size: 1.25em;
}

/* SMARTPHONE LANDSCAPE  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 576px){
    /* body{
        background-color: #00f;
    } */
    .Container{
        max-width: 540px;     
    }
    /* Criando uma sombra em h1 e h2 */
    main h1, main h2{
        text-shadow: #000 0.05em 0.05em 0.05em;
    }

}

/* Esta configuração de video nao funcionou no celular landscape - Procurar erro */

#video iframe{
    width: 560px;
    height: 315px;
}

/* Tablet Portrait   >>>>>>> */
@media (min-width: 768px){
    /* body{
        background-color: #ff0;
    } */
    .Container{
        max-width: 720px;
    }
    /* Destaque */
    main{
        height: 45vh;
    }
    main h1{
        font-size: 5.5em;
    }
    main h2{
        font-size: 2em;
    }
}

/* Tablet Landscape   >>>>>> */
@media (min-width: 992px){
    /* body{
        background-color: #f60;
    } */
    .Container{
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}


/* PC >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){
    /* body{
        background-color: #f00;
    } */
    .Container{
        max-width: 1140px;
    }
    /* Cabecalho - ajustando a img do logo para uma dimensao maior por causa da tela do PC */
    header{
        height: 120px;
    }
    #logo img{
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }
    label{
        display: none;
    }
    nav ul{
        /* Definindo novos valores para nav ul aqui nesta configuracao @media, a outra eh ignorada */
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }
    nav ul li{
        float: left;
        border: 0;
    }
    nav ul li a{
        color: #343538;

    }
    nav ul li a:hover{
        color: #064dd1;
    }
    #sobre{
        /* Efeito parallax = manter o background sem rolagem */
        background-attachment: fixed;
    }
    #destaqueSobre{
        display: inline;
    }
    #destaqueSobre img{
        border-radius: 50%;
        margin-right: 50px;
    }
    .Flex3{
        flex-direction: row;
        align-items: center;
    }
    #qrCode{
        background-attachment: fixed;
        display: inline;
    }
     .Flex3{
        flex-direction: row;
        align-items: center;
    }
    #wireframe{
        background-attachment: fixed;
    }
    #wireframe span{
        display: inline;
        color: #6796ee;
    }
    #qrCode img{
        width: 150px;
        height: 150px;
    }
    
    
}